@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 2rem;
    margin: 0;
    width: 100%;
    height: 100vh;
    background: white;
}

header {
    background-color: #576692;
    color: hsl(47, 46%, 84%);
    text-align: center;
    font-size: 1.2rem;
    margin: 0;
    padding-right: 23vw;
}

header h1 {
    margin: 0;
    padding: 10px 0;
}

#container {
    width: 100%;
    height: 70vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#kolory {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #76bbe8;
    color: #fdfcfc;
    text-align: center;
    gap: 0;
}

#kolory p {
    margin-bottom: 5px;
}

#kolory ul {
    margin-top: 0;
}

#kolory-lista {
    display: inline-block;
    text-align: left;
    margin: 0;
}

#rysunek {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a1d3f2;
}

footer {
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: #576692;
    color: #cdd1be;
    text-align: center;
    height: 10vh;
    margin: 0;
    padding-right: 5vw;
}

footer p {
    margin: 0;
    padding: 10px 0;
}

